name: Syntax Tests
# https://github.com/sublimetext/syntax-test-action

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths:
      - '.github/workflows/syntax.yml'
      - '**.sublime-syntax'
      - '**/syntax_test_*'
      - '**.tmPreferences'
  pull_request:
    paths:
      - '.github/workflows/syntax.yml'
      - '**.sublime-syntax'
      - '**/syntax_test_*'
      - '**.tmPreferences'
    types:
      - 'opened'
      - 'reopened'
      - 'synchronize'
  workflow_dispatch:

jobs:
  main:
    name: Syntax Tests (${{ matrix.build }})
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        include:
          - build: latest
            packages: master
          - build: stable
            packages: binary
          - build: 4107
            packages: binary
    steps:
      - uses: actions/checkout@v5
      - uses: SublimeText/syntax-test-action@v2
        with:
          build: ${{ matrix.build }}
          default_packages: ${{ matrix.packages }}
          package_name: 'PowerShell'
